/* blue for base #011627 and turqoise for border #2EC4B6*/

body{
  background: #011627;
  border-left: 45px solid #2EC4B6;
  border-bottom: 45px solid #2EC4B6;
  border-right: 45px solid #2EC4B6;
  margin-left: 0;
  margin-right: 0;
  width 25%;
}

h1{
  color: #FDFFFC;
}

.lorem{
  color: #FDFFFC;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

#bottom{
  margin-bottom: 50px;
}

#mainHead{
  font-size: 26px;
}

.ipsum{
  width: 58%;
  font-size: 13px;
  margin-left: 21%;
  margin-top: 100px;
}

#mainForm{
  text-align: center;
}

.formLabel{
  color: #FDFFFC;
  font-family: 'Roboto', sans-serif;
}
.formItem{
  margin-bottom: 5px;
}

#button{
  background: #FF9F1C;
  color: #184915;
  padding: 2%;
  margin-bottom: 5px;
  border-radius: 15px;
}
